html {
    font-size: 16px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    color: #0096D6;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.25rem;
    text-align: center;
    padding-bottom: 2rem;
    color: #0096D6;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.75rem;
    color: white;
}

p, label, button {
    font-family: 'Open Sans', sans-serif;
}

.container {
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
}

/* Banner */
.banner {
    display: flex;
    background-color: #F0F8EA;
}

#banner-img {
    width: 60%;
}

#banner-img img {
    width: 100%;
}

#banner-txt {
    width: 40%;
    padding: 2rem;
}

#banner-tagline {
    font-size: 1.5rem;
    padding-top: 1.25rem;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    color: #E4572E;
}

@media only screen and (max-width:800px) {
    .banner {
        background-image: url('../images/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }
    
    #banner-img {
        display: none;
    }

    #banner-txt {
        width: 100%;
        background-color: white;
        margin: 4rem;
    }

    #banner-txt h1 {
        font-size: 2rem;
    }

    #banner-tagline {
        font-size: 1rem;
        padding-top: 0.75rem;
    }
}

/* Events Section */
#events {
    justify-content: center;
    padding: 3rem;
}

#featured-event {
    width: 55%;
    padding: 2rem;
    background-color: #8F6593;
}

#featured-event img {
    width: 100%;
}

#featured-event-text {
    padding: 1rem 0;
}

#upcoming-events {
    width: 45%;
    flex-direction: column;
    padding: 2rem 0 2rem 2rem;
}

.event-block {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    margin: 2rem 0;
    background-color: #8F6593;
}

.event-block img {
    width: 100%;
}

.event-img {
    width: 50%;
}

.event-text {
    width: 65%;
    align-items: center;
    padding-left: 1rem;
}

.event-date {
    font-style: italic;
    padding-top: 0.25rem;
    color: #FDb913;
}

/* Classes */
#classes {
    justify-content: center;
    background-color: #F0F8EA;
    padding: 3rem;
}

#class-container {
    display: flex;
    justify-content: center;
}

.class-block {
    width: 30%;
    background-color: #8F6593;
    margin: 0 3rem;
    text-align: center;
}

.class-block img {
    width: 100%;
}

.class-block h3 {
    padding: 1rem;
}

/* Email */
#email {
    text-align: center;
    padding: 3rem;
    background-color: #E0E0E0;
}

#email p {
    padding-bottom: 0.5rem;
}